## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hobart,AU,-42.8794,147.3294,43.05,84,14,1.01,few clouds
1,1,Isangel,VU,-19.5500,169.2667,78.30,83,100,8.46,overcast clouds
2,2,Luderitz,NaN,-26.6481,15.1594,61.30,89,1,4.07,clear sky
3,3,Malyye Derbety,RU,47.9547,44.6808,45.46,74,100,12.08,overcast clouds
4,4,Hithadhoo,MV,-0.6000,73.0833,81.72,78,78,12.64,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Isangel,VU,-19.5500,169.2667,78.30,83,100,8.46,overcast clouds
4,4,Hithadhoo,MV,-0.6000,73.0833,81.72,78,78,12.64,broken clouds
7,7,Atuona,PF,-9.8000,-139.0333,78.28,74,4,18.41,clear sky
11,11,La Plata,AR,-34.9215,-57.9545,76.03,50,76,11.27,broken clouds
14,14,Saint-Philippe,RE,-21.3585,55.7679,78.39,82,14,10.49,few clouds
19,19,Avarua,CK,-21.2078,-159.7750,77.05,88,75,3.44,broken clouds
23,23,Beloha,MG,-25.1667,45.0500,76.42,69,0,5.46,clear sky
24,24,Rikitea,PF,-23.1203,-134.9692,75.69,73,22,12.28,few clouds
25,25,Port-Gentil,GA,-0.7193,8.7815,82.36,83,75,12.66,broken clouds
27,27,Sao Filipe,CV,14.8961,-24.4956,76.33,71,100,10.38,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                210
City                   210
Country                209
Lat                    210
Lng                    210
Max Temp               210
Humidity               210
Cloudiness             210
Wind Speed             210
Current Description    210
dtype: int64

In [7]:
preferred_cities_df.count()

City_ID                210
City                   210
Country                209
Lat                    210
Lng                    210
Max Temp               210
Humidity               210
Cloudiness             210
Wind Speed             210
Current Description    210
dtype: int64

In [8]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Isangel,VU,-19.5500,169.2667,78.30,83,100,8.46,overcast clouds
4,4,Hithadhoo,MV,-0.6000,73.0833,81.72,78,78,12.64,broken clouds
7,7,Atuona,PF,-9.8000,-139.0333,78.28,74,4,18.41,clear sky
11,11,La Plata,AR,-34.9215,-57.9545,76.03,50,76,11.27,broken clouds
14,14,Saint-Philippe,RE,-21.3585,55.7679,78.39,82,14,10.49,few clouds
...,...,...,...,...,...,...,...,...,...,...
541,541,Antalaha,MG,-14.9003,50.2788,76.17,86,87,5.70,light rain
545,545,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,81.23,75,37,9.55,scattered clouds
547,547,Sibu,MY,2.3000,111.8167,73.60,99,89,1.21,overcast clouds
548,548,Pangai,TO,-19.8000,-174.3500,79.20,84,59,14.32,broken clouds
552,552,San Buenaventura,MX,27.0833,-101.5333,83.48,29,40,0.00,scattered clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Isangel,VU,78.30,overcast clouds,-19.5500,169.2667,
4,Hithadhoo,MV,81.72,broken clouds,-0.6000,73.0833,
7,Atuona,PF,78.28,clear sky,-9.8000,-139.0333,
11,La Plata,AR,76.03,broken clouds,-34.9215,-57.9545,
14,Saint-Philippe,RE,78.39,few clouds,-21.3585,55.7679,
19,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,
23,Beloha,MG,76.42,clear sky,-25.1667,45.0500,
24,Rikitea,PF,75.69,few clouds,-23.1203,-134.9692,
25,Port-Gentil,GA,82.36,broken clouds,-0.7193,8.7815,
27,Sao Filipe,CV,76.33,overcast clouds,14.8961,-24.4956,

In [11]:
# To save the skipped value as NaN in the data frame
import numpy as np
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")       
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Isangel,VU,78.30,overcast clouds,-19.5500,169.2667,Tanna Lodge
4,Hithadhoo,MV,81.72,broken clouds,-0.6000,73.0833,Scoop Guest House
7,Atuona,PF,78.28,clear sky,-9.8000,-139.0333,Villa Enata
11,La Plata,AR,76.03,broken clouds,-34.9215,-57.9545,Hotel Corregidor
14,Saint-Philippe,RE,78.39,few clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
WeatherPy_vacation_map = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
WeatherPy_vacation_map.add_layer(heat_layer)
WeatherPy_vacation_map.add_layer(marker_layer)

# 11b. Display the figure
WeatherPy_vacation_map

Figure(layout=FigureLayout(height='420px'))